doctype html
html
  head
    title foobar
  body
    h1 about page
    img(src="/assets/javascript.svg")
    include @_btn/btn.pug
    script(src="/main.js" type="module")
    script(src="/blocks/btn/btn.js" type="module")