doctype html
html
  head
    title vite+pug
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
  body
    h1 index page
    include @_btn/btn.pug
    img(src="assets/javascript.svg")
    img(src="assets/pug.png")
    script(src="/main.js" type="module")